<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Add Flights</h2>
    <label>Route no:</label>
    <input type="text"><br><br>
    <label>Plane no:</label>
    <input type="text"><br><br>
    <label>Departure date:</label>
    <input type="date"><br><br>
    <label>Departure location:</label>
    <input type="text"><br><br>
    <label>Departure time:</label>
    <input type="time"><br><br>
    <label>Arrival location:</label>
    <input type="text"><br><br>
    <label>Arrival time:</label>
    <input type="time"><br><br>
    <label>Ticket price:</label>
    <input type="text"><br><br>
    <button type="submit">Submit</button>
</body>
</html>