<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Add Hotels</h2>
            <label>Hotel name</label>
            <input type="text"><br><br>
            <label>Location</label>
            <input type="text"><br><br>
            <label>Hotel Type</label>
            <input type="text"><br><br>
            <label>Number Of Rooms</label>
            <input type="text"><br><br>
            <label>Facilities</label>
            <input type="text"><br><br>
            <label>Contact</label>
            <input type="number"><br><br>
            <label>Base price</label>
            <input type="text"><br><br>
            <label>Status</label>
            <input type="text"><br><br>
            <button type="submit">Submit</button>
</body>
</html>