<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Add New Package</h2>
    <label>Package Name</label>
    <input type="search"><br><br>
    <label>Details</label>
    <input type="search"><br><br>
    <label>Duration</label>
    <input type="search"><br><br>
    <label>Facilities</label>
    <input type="search"><br><br>
    <label>Price</label>
    <input type="search"><br><br>
    <button type="submit">Submit</button>

</body>
</html>