<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="managepackage.html"><button type="button">Manage Packages</button></a><br><br>
    <a href="viewbookings.html"><button type="button">View Bookings Of Users</button></a><br><br>
    <a href="viewprofile.html"><button type="button">View profile-info</button></a><br><br>
    <a href="gallerymanagement.html"><button type="button">Gallery Management</button></a><br><br>
    <a href="ratingandreview.html"><button type="button">Ratings & Reviews</button></a><br><br>
    <a href="manageplaces.html"><button type="button">Manage Places</button></a><br><br> 
</body>
</html>