<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="manageplaces.html"><button type="button">Manage Places</button></a><br><br>
    <a href="managehotels.html"><button type="button">Manage Hotels</button></a><br><br>
    <a href="managetravelagency.html"><button type="button">Manage Travel Agency</button></a><br><br>
    <a href="viewfeedback.html"><button type="button">View Feedback</button></a><br><br>
    <a href="viewpackages.html"><button type="button">View Packages</button></a><br><br>
    <a href="viewusers.html"><button type="button">View Users</button></a><br><br> 
    <a href="login.html"><button type="button">Login</button></a><br><br>
</body>
</html>