<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trvelgenie-Login</title>
  <link rel="stylesheet" href="login.css">
</head>

<body>
  <div class="wrapper">
    <form action="#">
      <h2>Login</h2>
      <div class="input-field">
        <label>Enter your username</label>
        <input type="text" required>

      </div>
      <br>
      <div class="input-field">
        <label>Enter your password</label>
        <input type="password" required>
      </div>
      <br>
      <div class="forget">
        <label for="remember">
          <label>Remember</label>
          <input type="checkbox" id="remember">
        </label>
        <br>
        <a href="#">Forgot password?</a>
      </div>
      <br>
      <button type="submit">Log In</button>
    </form>
  </div>
</body>

</html>                        


