<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr> 
            <th>Route no:</th>
            <th>Plane no:</th>
            <th>Departure date</th>
            <th>Departure location</th>
            <th>Departure time</th>
            <th>Arrival location</th>
            <th>Arrival time</th>
            <th>Ticket price</th>
            <th>Action</th>
            <th></th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a href="#">edit</a><br>
                <a href="#">delete</a>
            </td>
        </tr>
        <tr>
            <td> <a href="addflights.html">Add flights</a></td>
        </tr>
    </table>
</body>
</html>