<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Hotel name</th>
            <th>Location</th>
            <th>Hotel Type</th>
            <th>Number Of Rooms</th>
            <th>Fecilities</th>
            <th>Contact</th>
            <th>Base price</th>
            <th>Status</th>
            <th>Action</th>
            <th></th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a href="#">edit</a><br>
                <a href="#">delete</a>
            </td>
        </tr>
        <tr>
            <td> <a href="addhotels.html">Add hotels</a></td>
        </tr>
    </table>
</body>
</html>