<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <label>Place Name:</label>
            <input type="search" required><br><br>
        </tr>
        <tr>
            <th>Spot Name:</th>
            <th>Catogory</th>
            <th>Description</th>
            <th>Images</th>
            <th>Action</th>
            <th></th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a href="#">edit</a><br>
                <a href="#">delete</a>
            </td>
        </tr>
        <tr>
            <td><a href="addplaces.html">Add Places</a></td>
        </tr>
    </table>
</body>
</html>