<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Package Name</th>
            <th>Details</th>
            <th>Duration</th>
            <th>Facilities</th>
            <th>price</th>
            <th>Action</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="https://www.wikipedia.org">edit</a></td>
        </tr>
    </table>
</body>
</html>