<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="adminmod.css">
</head>
<body>
    <form action="#">
        <div class="head">
            <h2>Add Flights </h2><br>
        </div>
            <label>Route No:</label>
                <input type="text" required><br><br>
            <label>Plane No:</label>
                <input type="text" required><br><br>
            <label>Departure date</label>
                <input type="date" required><br><br>
            <label>Departure location</label>
                <input type="text" required>
            <label>Departure time</label>
                <input type="time" required><br><br>
            <label>Arrival location</label>
                <input type="text" required>
            <label>Arrival time</label>
                <input type="time" required><br><br>
            <label>price</label>
                <input type="text" required><br><br>
            <button type="button" onclick="cancelAction()">Cancel</button>
            <button type="submit">Submit</button>
      </form>
</body>

</html>