<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="#">
        <h2>Add Hotels </h2><br>
        <label>Hotel name</label>
            <input type="text" required><br>
        <label>Hotel Type</label>
        <select id="hoteltypes" name="hotel types">
            <option value="option1">5 Star</option>
            <option value="option2">4 Star</option>
            <option value="option3">3 Star</option>
            <option value="option4">Resort</option>
            <option value="option5">Homestay</option>
            <option value="option6">Lodge</option>
          </select><br>
        <label>Location</label>
            <input type="text" required><br>
        <label>City</label>
            <input type="text" required>
        <label>Country</label>
            <input type="text" required><br>
        <label>Number of Rooms</label>
            <input type="number" required><br>
        <label>Fecilities:</label><br>
            <textarea id="Fecilities" name="Fecilities" rows="4" cols="50"></textarea><br>
        <label>Pet policy</label>
        <select id="hoteltypes" name="hotel types">
            <option value="option1">Allowed</option>
            <option value="option2">Not Allowed</option>
        </select><br>
    <h3>Contact details</h3><br>
        <label>Contact number</label>
            <input type="tel" required><br>
        <label>email</label>
            <input type="email" required><br>
        <label>website</label>
            <input type="url" required><br>
    <h3>Pricing Details</h3><br>
        <label>Base price</label>
            <input type="text" required><br>
        <label>Room Type</label>
        <select id="hoteltypes" name="hotel types">
            <option value="option1">5 Star</option>
            <option value="option2">4 Star</option>
            <option value="option3">3 Star</option>
            <option value="option4">Resort</option>
            <option value="option5">Homestay</option>
            <option value="option6">Apartment</option>
            <option value="option6">Villa</option>
            <option value="option6">Hostel</option>
            <option value="option6">Lodge</option>
          </select><br>
        <label>Additional fees</label>
            <input type="text" required><br>
        <label>Hotel status</label>
        <select id="hoteltypes" name="hotel types">
            <option value="option1">Active</option>
            <option value="option2">Not Active</option>
        </select><br>
        <label>Check in time</label>
             <input type="time" required><br>
        <label>Check out Time</label>
            <input type="time" required><br>
        <label>Description:</label><br>
            <textarea id="Description" name="Description" rows="4" cols="50"></textarea><br>
        <label>Image</label>
            <input type="file" required><br><br>
        <button type="submit">cancel</button>
        <button type="submit">Submit</button>
      </form>
</body>
</html>