<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>booking id</th>
            <th>usename</th>
            <th>Name</th>
            <th>Booking details</th>
            <th>Contact number</th>
            <th>total Guests</th>
            <th>Booking status</th>
            <th>Payment status</th>
            <th>amount</th>
            <th>Action</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="#">Deactivate</a></td>
        </tr>
    </table>
</body>
</html>